<div id="home-page">
  <div id="home-page-landing">
    <div id="landing-left">
      <div id="landing-left-content">
        <h1>Fan<app-ladder></app-ladder>ttic</h1>
        <p>An attic for fanatic fans.</p>
        <h4>
          this is a place to share, explore and comment about fan artworks.<br />
          These artworks are based on popular works of fiction (such as books,
          movies, etc).<br />
          It is usually unofficial drawings and other renderings of famous
          characters but it can be anything.
        </h4>
        <button (click)="onClimbUp()" mat-flat-button color="warn">
          Climb Up
        </button>
      </div>
    </div>
    <div id="landing-right">
      <div id="landing-right-content"></div>
    </div>
  </div>
</div>
